<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">CalUdelar</span>
  </div>
</nav>


<table id="cabezal" border="3">
  <th><button class="btn btn-primary" (click)="CambiarMes()">ATRAS</button></th>
  <th>{{mes}}</th>
  <th><button class="btn btn-primary">SIGUIENTE</button></th>
</table>

<table border="1">
  <div id="dias">
      <tr> 
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIERCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
        <th>SABADO</th>
        <th>DOMINGO</th>
      </tr>
  </div>
</table>
