<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="Ingrese tarea...">
        </div>
        <div class="col-lg-6 offset-lg-3">
            <div *ngIf="listTareas.length === 0" class="card mt-3 text-center">
                <h6>No hay tareas para mostrar</h6>
            </div>
            <ul class="list-group mt-3">
                <li *ngFor="let tarea of listTareas; let i = index" class="list-group-item d-flex justify-content-between">
                    <span class="cursor" (click)="actualizarTarea(tarea,i)">
                        <i [class.text-success]="tarea.estado" [ngClass]="tarea.estado ? 'far fa-check-circle' : 'fas fa-circle-notch' "></i>
                    </span>
                    {{ tarea.nombre }}
                    <span class="cursor"><i class="fas fa-trash-alt" (click)="eliminarTarea(i)"></i></span>
                </li>
            </ul>
        </div>
    </div>
</div>